@keyframes slideInFromRight {
  0% {
    transform: translateX(1000%);
  }
  50%{
    transform: translateX(-10%);
  }
  60% {
    transform: translateX(0);
  }
}

@keyframes popFromNothing {
  from{
    transform: scale(0);
  }
  40%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1)
  }
  to{
    transform: scale(1);
  }
}